@model v2kp.Models.ThongTinBaoCao

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ThongTinBaoCao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenToChucDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenToChucDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaiHoiLanThu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaiHoiLanThu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TruongBanKiemPhieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TruongBanKiemPhieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThuKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThuKy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongTinDaiHoi.CongressType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongTinDaiHoi.CongressType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
